body {
    background-color: rgb(22, 21, 21);
}
h1 {
    text-align: center;
    color: aliceblue;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: inline-block;
    position: right;
}
.left {
    display: inline-block;
    position: left;
}